
.ol {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.li {
    text-align: center;
    width: "*";
    height: "400px";
    float: left;
    margin: 1.5%;
}