<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Reset Password</h3>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-group">
              <label for="resetpasswordEmail">Account Email</label>
              <input type="email" name="email" ngModel required #email="ngModel" class="form-control" id="resetpasswordEmail" placeholder="Enter email">
            </div>
            <small id="resetHelp" class="form-text text-muted">Never share your credentials with anyone.</small>
            <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Reset</button>
          </form>
    </div>
</div>
